 <%= form_with model: @cooking, url: posts_update_path(@cooking), local: true do |f| %>  

<% if @cooking.errors.any? %>
  <div class = "error-message">
    <ul>
      <% @cooking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="container">
  
  <div class="item-container">
  
    <div class="image-select">
    　<p class="item-name">画像を変更</p>
      <%= f.file_field :image_1 %>
    </div>
  </div>

  
    <div class="item-container">
     <div class="title-new">
        <p class="item-name">タイトル<span>＊</span></p>
        <%= f.text_field :title %>
     </div>
    </div>

    <div class="item-container">
     <div class="created_date">
        <p class="item-name">作成日<span>＊</span></p>
        <form>
            <%= f.date_field :created_date %>
        </form>
     </div>
    </div>

  
    <div class="item-container">
     <div class="rating-container">
        <p class="item-name">自己評価<span>＊</span></p>
        <div class="rating-stars">
            <p>星の数を選択：</p>
                 <%= f.select :rating, [[1, 1], [2, 2], [3, 3], [4, 4], [5,5]], include_blank: "未選択", class: "rating-form", selected: @cooking.rating.to_i %>
        </div>
        
        <%= f.text_area :comment, :placeholder => "コメント" %>
     </div>
    </div>
  
  
  <div class="item-container">
    <p class="item-name">材料</p>
    <%= f.fields_for :ingredients do |ingredient| %>

    <div class="ingredient-form">
    <%= ingredient.text_field :ingredient_name, :placeholder => "材料名" %>
    <%= ingredient.text_field :quantity, :placeholder => "分量" %>
    <br>
    </div>
 
    <% end %>    
  </div>


  <div class="item-container">
  <p class="item-name">レシピ</p>
  
    <%= f.fields_for :directions do |direction| %>
    <div class="direction-form">
    <%= direction.text_field :text %>
    <% end %>  
  </div>


  <div class="post-btn">
    <%= f.submit :value => "投稿" %>
  </div>

</div>
<% end %>

